* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  background-color: lightslategrey;
}

.tic-game {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;

  -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
}

.cell {
  width: 100px;
  height: 100px;
  background: lightcoral;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cross {
  width: 60px;
  height: 60px;
  position: relative;
}
.cross:after {
  content: '';
  height: 60px;
  border-left: 3px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}

.cross:before {
  content: '';
  height: 60px;
  border-left: 3px solid #fff;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.score {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}

.btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all .2s linear;
}

.btn:hover,
.btn:active {
  background-color: #ef8080;
}

.btn:active {
  opacity: .5;
}